.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border: 1px solid rgb(205 201 201);
  border-radius: 4px;
  background-color: white;
}

.button:hover:not(:disabled) {
  box-shadow: 0px 0px 1px 1px rgb(115 105 105 / 24%);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button.round {
  border-radius: 50%;
}
