.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.root::after {
  content: '';
  position: absolute;
  height: 160%;
  border-left: 6px solid rgb(242 67 67 / 90%);
  top: -20px;
  left: 52px;
}

.yearContainer {
  width: 100%;
}

.year {
  position: relative;
  text-align: left;
  font-weight: 700;
  width: 3.5rem;
  padding: 0.25rem;
  border-bottom: 1px solid red;
}
