.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
}

.buttons {
  padding: 1rem;
  border: none;
}

.buttons svg {
  height: 2rem;
  width: 2rem;
}

.footer {
  margin-top: auto;
}
